<h1><center>TATHYA PROJECT 1</center></h1>

by 
<i>Murugesh Manthiramoorthi</i>
[LinkedIn](https://www.linkedin.com/in/murugeshmanthiramoorthi/)

# Problem Statement
01. Which actor / actress has done the most number of Action movies


02. What is the total revenue of movies produced by "Twentieth Century Fox Film Corporation" that were released after the year 2000 and had the actor Will Smith in it.

In [1]:
# Importing required Packages

import pandas as pd
import numpy as np
import json
from pandas import Series, DataFrame

In [2]:
# Loading the datasets

credits=pd.read_csv("tmdb_5000_credits.csv")
movies=pd.read_csv("tmdb_5000_movies.csv")

## Looking into the data

In [3]:
credits.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [4]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

## Data Cleaning

First converting all the data in json format to lists for ease of handling

In [5]:
movies['genres']=movies['genres'].apply(json.loads)
for index,i in zip(movies.index,movies['genres']):
    list1=[]
    for j in range(len(i)):
        list1.append((i[j]['name']))
    movies.loc[index,'genres']=str(list1)
    

movies['keywords']=movies['keywords'].apply(json.loads)
for index,i in zip(movies.index,movies['keywords']):
    list1=[]
    for j in range(len(i)):
        list1.append((i[j]['name']))
    movies.loc[index,'keywords']=str(list1)
    

movies['production_companies']=movies['production_companies'].apply(json.loads)
for index,i in zip(movies.index,movies['production_companies']):
    list1=[]
    for j in range(len(i)):
        list1.append((i[j]['name']))
    movies.loc[index,'production_companies']=str(list1)
    

movies['production_countries']=movies['production_countries'].apply(json.loads)
for index,i in zip(movies.index,movies['production_countries']):
    list1=[]
    for j in range(len(i)):
        list1.append((i[j]['name']))
    movies.loc[index,'production_countries']=str(list1)
    

credits['cast']=credits['cast'].apply(json.loads)
for index,i in zip(credits.index,credits['cast']):
    list1=[]
    for j in range(len(i)):
        list1.append((i[j]['name']))
    credits.loc[index,'cast']=str(list1)

    
credits['crew']=credits['crew'].apply(json.loads)
def director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
credits['crew']=credits['crew'].apply(director)
credits.rename(columns={'crew':'director'},inplace=True)

In [6]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"['Action', 'Adventure', 'Fantasy', 'Science Fi...",http://www.avatarmovie.com/,19995,"['culture clash', 'future', 'space war', 'spac...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"['Ingenious Film Partners', 'Twentieth Century...","['United States of America', 'United Kingdom']",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

## Merging both datasets

In [7]:
movies=movies.merge(credits,left_on='id',right_on='movie_id',how='left')

## Feature Engineering

Removing unnecessary features in the dstaset

In [8]:
movies=movies[['id','original_title','genres','cast','production_companies','release_date','revenue']]

Creating a new feature called 'year' for filtering the data for our business problem

In [9]:
year = pd.DatetimeIndex(movies['release_date']).year
year = np.array(year, dtype=np.int)
year_df=pd.DataFrame(year)
movies['year']=year_df[0]
movies.head(1)

,id,original_title,genres,cast,production_companies,release_date,revenue,year
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...","['Ingenious Film Partners', 'Twentieth Century...",2009-12-10,2787965087,2009

In [10]:
movies=movies[['id','original_title','genres','cast','production_companies','year','revenue']]

In [11]:
movies.head(1)

,id,original_title,genres,cast,production_companies,year,revenue
0,19995,Avatar,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ...","['Ingenious Film Partners', 'Twentieth Century...",2009,2787965087

## Problem Solving

We are now splitting the available data into two parts which are required for both the problem statements

In [12]:
q1=movies[['id', 'genres','cast']]
q2=movies[['id', 'cast', 'production_companies', 'year', 'revenue']]

In [13]:
q1.head()

,id,genres,cast
0,19995,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['Sam Worthington', 'Zoe Saldana', 'Sigourney ..."
1,285,"['Adventure', 'Fantasy', 'Action']","['Johnny Depp', 'Orlando Bloom', 'Keira Knight..."
2,206647,"['Action', 'Adventure', 'Crime']","['Daniel Craig', 'Christoph Waltz', 'LÃ©a Seydo..."
3,49026,"['Action', 'Crime', 'Drama', 'Thriller']","['Christian Bale', 'Michael Caine', 'Gary Oldm..."
4,49529,"['Action', 'Adventure', 'Science Fiction']","['Taylor Kitsch', 'Lynn Collins', 'Samantha Mo..."

Unstacking the Genres column to access the data.

In [14]:
q1['genres']=q1['genres'].str.strip('[]').str.replace(' ','').str.replace("'",'').str.replace('"','')

s = q1['genres'].str.split(",").apply(Series, 1).stack()
s.index = s.index.droplevel(-1)
s.name = 'genres'
del q1['genres']
q1 = q1.join(s)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Unstacking the Cast column to access the data.

In [15]:
q1['cast']=q1['cast'].str.strip('[]').str.replace(' ','').str.replace("'",'').str.replace('"','')

s1 = q1['cast'].str.split(",").apply(Series, 1).stack()
s1.index = s1.index.droplevel(-1)
s1.name = 'cast'
del q1['cast']
q1 = q1.join(s1)

Grouping the dataset by the cast for the genre 'Action'. Then arranging them in descending order to obtain our required answer.

In [16]:
list1=q1[q1['genres'] == 'Action'].groupby('cast')['id'].count()
list1.sort_values(ascending=False)[:10]

cast
SamuelL.Jackson         123
BruceWillis              92
ArnoldSchwarzenegger     83
StanLee                  75
NicolasCage              71
SylvesterStallone        71
Jr.                      69
DwayneJohnson            68
JasonStatham             65
PeterStormare            62
Name: id, dtype: int64

Samuel L Jackson has done the most number of action movies in the given dataset. 

Unstacking the Production Companies column to access the data.

In [13]:
q2['production_companies']=q2['production_companies'].str.strip('[]').str.replace(' ','').str.replace("'",'').str.replace('"','')

s4 = q2['production_companies'].str.split(",").apply(Series, 1).stack()
s4.index = s4.index.droplevel(-1)
s4.name = 'production_companies'
del q2['production_companies']
q2 = q2.join(s4)

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

Unstacking the Cast column to access the data.

In [14]:
q2['cast']=q2['cast'].str.strip('[]').str.replace(' ','').str.replace("'",'').str.replace('"','')

s3 = q2['cast'].str.split(",").apply(Series, 1).stack()
s3.index = s3.index.droplevel(-1)
s3.name = 'cast'
del q2['cast']
q2 = q2.join(s3)

Filtering the dataset for movies released pnly after 2000.

In [21]:
q2_2000 = q2[q2['year']>=2000]
q2_2000.head()

      id  year     revenue   production_companies               cast
0  19995  2009  2787965087  IngeniousFilmPartners     SamWorthington
0  19995  2009  2787965087  IngeniousFilmPartners         ZoeSaldana
0  19995  2009  2787965087  IngeniousFilmPartners    SigourneyWeaver
0  19995  2009  2787965087  IngeniousFilmPartners        StephenLang
0  19995  2009  2787965087  IngeniousFilmPartners  MichelleRodriguez

Grouping the dataset by the production companies and its revenue for the movies staring Will Smith and summing the revenue to obtain total revenue generated by each production companies.

In [22]:
list2=q2_2000[q2_2000['cast']== 'WillSmith'].groupby('production_companies')['revenue'].sum()

list2.sort_values(ascending=False)

production_companies
OverbrookEntertainment                         13332419318
WeedRoadPictures                                7972700350
ColumbiaPictures                                7841863694
WarnerBros.                                     7329494753
RelativityMedia                                 6269185541
HeydayFilms                                     5844959103
AmblinEntertainment                             4887409092
ForwardPass                                     4368205597
GHThree                                         4368205597
BlueLight                                       4368205597
ColumbiaPicturesCorporation                     4366178169
VillageRoadshowPictures                         3906677493
DCComics                                        3725000000
DCEntertainment                                 3725000000
AtlasEntertainment                              3725000000
DuneEntertainment                               3725000000
OriginalFilm                                    3512094060
Parkes/MacDonaldProductions                     3120133880
HemisphereMediaCapital                          3120133880
ImagenationAbuDhabiFZ                           3120133880
MediaMagikEntertainment                         3120133880
TF1                                             2332865043
StudioCanal                                     2332865043
CinÃ©+                                           2332865043
AmazonPrimeInstantVideo                         2332865043
Canal+                                          2332865043
TheWeinsteinCompany                             2332865043
TF1FilmsProduction                              2332865043
AntonCapitalEntertainment(ACE)                  2332865043
TwentiethCenturyFoxFilmCorporation              2280706631
DavisEntertainment                              2083409496
MediastreamVierteFilmGmbH&Co.VermarktungsKG     2083409496
CanlawsProductions                              2083409496
LaurenceMarkProductions                         2083409496
EscapeArtists                                   1900979944
Parkes+MacDonaldImageNation                     1767275212
DreamWorksSKG                                   1299122192
PacificDataImages(PDI)                          1101825057
DreamWorksAnimation                             1101825057
BlindingEdgePictures                             731529381
DonSimpson/JerryBruckheimerFilms                 546679112
GarySanchezProductions                           520947045
ApatowProductions                                520947045
ParamountPictures                                520947045
ZaftigFilms                                      461888889
Kramer&SigmanFilms                               461888889
RatPac-DuneEntertainment                         461888889
LStarCapital                                     302182740
ScottFreeProductions                             302182740
TheCantillonCompany                              302182740
TheShumanCompany                                 302182740
EpsilonMotionPictures                            197297135
WildwoodEnterprises                              197297135
AlliedFilmmakers                                 197297135
CloseCallFilms                                   144393528
MiramaxFilms                                     144393528
BeverlyDetroit                                   144393528
ViewAskewProductions                             144393528
Name: revenue, dtype: int64

The total revenue of movies produced by "Twentieth Century Fox Film Corporation" that were released after the year 2000 and had the actor Will Smith in it is $7291933236

# Conclusion
01. Which actor / actress has done the most number of Action movies
    
    Samuel L Jackson has done the most number of action movies in the given dataset. 


02. What is the total revenue of movies produced by "Twentieth Century Fox Film Corporation" that were released after the year 2000 and had the actor Will Smith in it.

    The total revenue of movies produced by "Twentieth Century Fox Film Corporation" that were released after the year 2000 and had the actor Will Smith in it is $7291933236